@page
@model TieRenTournament.Pages.Events.MatchModel
@{
}


<link rel="stylesheet" href="~/@(nameof(TieRenTournament)).styles.css" />


<h2>@Model.RedComp.Bracket's Bracket</h2>
<h3>Round:@Model.Round Match:@Model.Match </h3>

<div class="container">
    <div class="Minutes">Minutes</div>
    <div class="Seconds">Seconds</div>
    <div class="Red">@Model.RedComp.FirstName @Model.RedComp.LastName</div>
    <div class="Blue">@Model.BlueComp.FirstName @Model.BlueComp.LastName</div>
    <button class="Plus-Blue">+</button>
    <button class="Minus-Blue">-</button>
    <button class="Plus-Red">+</button>
    <button class="Minus-Red">-</button>
    <div class="Timer">00:00</div>
    <div class="Points-Red">0</div>
    <div class="Points-Blue">0</div>
    <div class="Outcome-Red">
        <div class="Submission-Red">
            <form method="post">
                <input asp-for="RedWins" value="true" type="hidden" />
                <input asp-for="VictoryMethod" value="Submission" type="hidden" />
                <input asp-for="RedScore" type="hidden" id="scoreRedOne" value="" />
                <input type="submit" value="Submission" asp-page-handler="Match" asp-route-elimination="@Model.Elimination" asp-route-match="@Model.Match" asp-route-round="@Model.Round" class="send" />
            </form>
        </div>
        <div class="DQ-Red">
            <form method="post">
                <input asp-for="RedWins" value="false" type="hidden" />
                <input asp-for="VictoryMethod" value="Opponent Disqualification" type="hidden" />
                <input asp-for="RedScore" type="hidden" id="scoreRedTwo" value="" />
                <input type="submit" value="Disqualification" asp-page-handler="Match" asp-route-elimination="@Model.Elimination" asp-route-match="@Model.Match" asp-route-round="@Model.Round" class="send" />
            </form>
        </div>
        <div class="Points-Red">Points</div>
        <div class="Decision-Red">Decision</div>
    </div>
    <div class="Outcome-Blue">
        <div class="Submission-Blue">
            <form method="post">
                <input type="hidden" asp-for="RedWins" value="false" />
                <input type="hidden" asp-for="VictoryMethod" value="Submission" />
                <input asp-for="RedScore" type="hidden" id="scoreRedThree" value="" />
                <input type="submit" value="Submission" asp-page-handler="Match" asp-route-elimination="@Model.Elimination" asp-route-match="@Model.Match" asp-route-round="@Model.Round" class="send" />
            </form>
        </div>
        <div class="DQ-Blue">
            <form method="post">
                <input asp-for="RedWins" value="true" type="hidden" />
                <input asp-for="VictoryMethod" value="Opponent Disqualification" type="hidden" />
                <input asp-for="RedScore" type="hidden" id="scoreRedFour" value="" />
                <input type="submit" value="Disqualification" asp-page-handler="Match" asp-route-elimination="@Model.Elimination" asp-route-match="@Model.Match" asp-route-round="@Model.Round" class="send" />
            </form>
        </div>
        <div class="Points-Blue">Points</div>
        <div class="Decision-Blue">Decision</div>
    </div>
</div>