@page
@model TieRenTournament.Pages.Events.MatchModel
@{
}


<link rel="stylesheet" href="~/@(nameof(TieRenTournament)).styles.css" />


<h2>@Model.RedComp.Bracket's Bracket</h2>
<h3>Round:@Model.Round Match:@Model.Match </h3>
<div id="container">
    <p id="min-label" class="label">Minutes</p><p id="sec-label" class="label">Seconds</p>
    </p><input id="minute" type="number" max="60" min="0" value="5" class="time"><p id="p2" class="semicolon">:</p><input id="second" type="number" max="60" min="0" value="00" class="time">
    <button id="start" class="btn">Start</button>
    <button id="pause" class="btn">Pause</button>
    <button id="play" class="btn">Play</button>
    <button id="reset" class="btn">Reset</button>
</div>
<div class="container">
    <div class="Minutes">Minutes</div>
    <div class="Seconds">Seconds</div>
    <div class="Red">@Model.RedComp.FirstName @Model.RedComp.LastName</div>
    <div class="Blue">@Model.BlueComp.FirstName @Model.BlueComp.LastName</div>
    <button class="Plus-Blue">+</button>
    <button class="Minus-Blue">-</button>
    <button class="Plus-Red">+</button>
    <button class="Minus-Red">-</button>
    <div class="Points-Red">0</div>
    <div class="Points-Blue">0</div>
    <div class="Outcome-Red">
        <div class="Submission-Red">
            <form method="post">
                <input asp-for="RedWins" value="true" type="hidden" />
                <input asp-for="VictoryMethod" value="Submission" type="hidden" />
                <input asp-for="RedScore" type="hidden" id="scoreRedOne" value="" />
                <input asp-for="BlueScore" type="hidden" id="scoreBlueOne" value="" />
                <input asp-for="StartMinutes" type= "hidden" id="startMinutesOne"/>
                <input asp-for="StartSeconds" type="hidden" id="startSecondsOne" />
                <input asp-for="EndMinutes" type="hidden" id="endMinutesOne" />
                <input asp-for="EndSeconds" type="hidden" id="endSecondsOne" />
                <input type="submit" value="Submission" asp-page-handler="Match" asp-route-elimination="@Model.Elimination" asp-route-match="@Model.Match" asp-route-round="@Model.Round" class="send"/>
            </form>
        </div>
        <div class="DQ-Red">
            <form method="post">
                <input asp-for="RedWins" value="false" type="hidden" />
                <input asp-for="VictoryMethod" value="Opponent Disqualification" type="hidden" />
                <input asp-for="RedScore" type="hidden" id="scoreRedTwo" value="" />
                <input asp-for="BlueScore" type="hidden" id="scoreBlueTwo" value="" />
                <input asp-for="StartMinutes" type="hidden" id="startMinutesTwo" value="" />
                <input asp-for="StartSeconds" type="hidden" id="startSecondsTwo" value=""/>
                <input asp-for="EndMinutes" type="hidden" id="endMinutesTwo" value=""/>
                <input asp-for="EndSeconds" type="hidden" id="endSecondsTwo" value=""/>
                <input type="submit" value="Disqualification" asp-page-handler="Match" asp-route-elimination="@Model.Elimination" asp-route-match="@Model.Match" asp-route-round="@Model.Round" class="send" />
            </form>
        </div>
        <div class="Points-Red">
            <form method="post">
                <input asp-for="RedWins" value="true" type="hidden" />
                <input asp-for="VictoryMethod" value="Points" type="hidden" />
                <input asp-for="RedScore" type="hidden" id="scoreRedThree" value="" />
                <input asp-for="BlueScore" type="hidden" id="scoreBlueThree" value="" />
                <input asp-for="StartMinutes" type="hidden" id="startMinutesThree" value="" />
                <input asp-for="StartSeconds" type="hidden" id="startSecondsThree" value=""/>
                <input asp-for="EndMinutes" type="hidden" id="endMinutesThree" value=""/>
                <input asp-for="EndSeconds" type="hidden" id="endSecondsThree" value=""/>
                <input type="submit" value="Points" asp-page-handler="Match" asp-route-elimination="@Model.Elimination" asp-route-match="@Model.Match" asp-route-round="@Model.Round" class="send" />
            </form>
        </div>
        <div class="Decision-Red">
            <form method="post">
                <input asp-for="RedWins" value="true" type="hidden" />
                <input asp-for="VictoryMethod" value="Decision" type="hidden" />
                <input asp-for="RedScore" type="hidden" id="scoreRedFour" value="" />
                <input asp-for="BlueScore" type="hidden" id="scoreBlueFour" value="" />
                <input asp-for="StartMinutes" type="hidden" id="startMinutesFour" value=""/>
                <input asp-for="StartSeconds" type="hidden" id="startSecondsFour" value=""/>
                <input asp-for="EndMinutes" type="hidden" id="endMinutesFour" value=""/>
                <input asp-for="EndSeconds" type="hidden" id="endSecondsFour" value=""/>
                <input type="submit" value="Decision" asp-page-handler="Match" asp-route-elimination="@Model.Elimination" asp-route-match="@Model.Match" asp-route-round="@Model.Round" class="send" />
            </form>
        </div>
    </div>
    <div class="Outcome-Blue">
        <div class="Submission-Blue">
            <form method="post">
                <input type="hidden" asp-for="RedWins" value="false" />
                <input type="hidden" asp-for="VictoryMethod" value="Submission" />
                <input asp-for="RedScore" type="hidden" id="scoreRedFive" value="" />
                <input asp-for="BlueScore" type="hidden" id="scoreBlueFive" value="" />
                <input asp-for="StartMinutes" type="hidden" id="startMinutesFive" value=""/>
                <input asp-for="StartSeconds" type="hidden" id="startSecondsFive" value=""/>
                <input asp-for="EndMinutes" type="hidden" id="endMinutesFive" value=""/>
                <input asp-for="EndSeconds" type="hidden" id="endSecondsFive" value=""/>
                <input type="submit" value="Submission" asp-page-handler="Match" asp-route-elimination="@Model.Elimination" asp-route-match="@Model.Match" asp-route-round="@Model.Round" class="send" />
            </form>
        </div>
        <div class="DQ-Blue">
            <form method="post">
                <input asp-for="RedWins" value="true" type="hidden" />
                <input asp-for="VictoryMethod" value="Opponent Disqualification" type="hidden" />
                <input asp-for="RedScore" type="hidden" id="scoreRedSix" value="" />
                <input asp-for="BlueScore" type="hidden" id="scoreBlueSix" value="" />
                <input asp-for="StartMinutes" type="hidden" id="startMinutesSix" value=""/>
                <input asp-for="StartSeconds" type="hidden" id="startSecondsSix" value=""/>
                <input asp-for="EndMinutes" type="hidden" id="endMinutesSix" value=""/>
                <input asp-for="EndSeconds" type="hidden" id="endSecondsSix" value=""/>
                <input type="submit" value="Disqualification" asp-page-handler="Match" asp-route-elimination="@Model.Elimination" asp-route-match="@Model.Match" asp-route-round="@Model.Round" class="send" />
            </form>
        </div>
        <div class="Points-Blue">
            <form method="post">
                <input type="hidden" asp-for="RedWins" value="false" />
                <input type="hidden" asp-for="VictoryMethod" value="Points" />
                <input asp-for="RedScore" type="hidden" id="scoreRedSeven" value="" />
                <input asp-for="BlueScore" type="hidden" id="scoreBlueSeven" value="" />
                <input asp-for="StartMinutes" type="hidden" id="startMinutesSeven" value=""/>
                <input asp-for="StartSeconds" type="hidden" id="startSecondsSeven" value=""/>
                <input asp-for="EndMinutes" type="hidden" id="endMinutesSeven" value=""/>
                <input asp-for="EndSeconds" type="hidden" id="endSecondsSeven" value=""/>
                <input type="submit" value="Points" asp-page-handler="Match" asp-route-elimination="@Model.Elimination" asp-route-match="@Model.Match" asp-route-round="@Model.Round" class="send" />
            </form>
        </div>
        <div class="Decision-Blue">
            <form method="post">
                <input type="hidden" asp-for="RedWins" value="false" />
                <input type="hidden" asp-for="VictoryMethod" value="Decision" />
                <input asp-for="RedScore" type="hidden" id="scoreRedEight" value="" />
                <input asp-for="BlueScore" type="hidden" id="scoreBlueEight" value="" />
                <input asp-for="StartMinutes" type="hidden" id="startMinutesEight" />
                <input asp-for="StartSeconds" type="hidden" id="startSecondsEight" />
                <input asp-for="EndMinutes" type="hidden" id="endMinutesEight" />
                <input asp-for="EndSeconds" type="hidden" id="endSecondsEight" />
                <input type="submit" value="Decision" asp-page-handler="Match" asp-route-elimination="@Model.Elimination" asp-route-match="@Model.Match" asp-route-round="@Model.Round" class="send" />
            </form>
        </div>
    </div>
</div>