@page
@model TieRenTournament.Pages.Events.ResultsModel
@{
}

<h1>This Is the Results Page</h1>

    <ul>
        @foreach (var competitor in Model.Results)
        {
            <li>Place: @competitor.Place @competitor.FirstName @competitor.LastName Wins: @competitor.Wins Losses: @competitor.Losses Byes: @competitor.Byes Bracket @competitor.Bracket</li>
        }
    </ul>

<form method="post">
    <input type="submit" value="Reset Competitors for another event" asp-page-handler="Results" />
</form>

<a asp-page="/Events/History">View Results by Match</a> <br />
<a asp-page="/Competitors/Index">View Competitors Homepage (Keep Data)</a>